{% extends 'base.html' %}

{% block content%}
<div class="form_contatiner">
<h2>Pyhone Book</h2>
{% if user.is_authenticated %}
<p>Welcome {{user.first_name}} to the Python Phonebook App. </p>
<p>Pyhone Book is a simple Python-Django app to manage contacts. <br> This app will reallow users to enter, save, delete  
    and search <br> contact information. Enjoy!  </p>
{%else%}
<p>Welcome to my Python Phonebook App. </p>
<p>Pyhone Book is a simple Django app to manage contacts. <br> This app will reallow users to enter, save, delete  
    and search contact information. <br> Please register and/or login in order to gain full access to the app. 
    
{%endif%}
</div>
{% endblock%}