{% extends 'base.html' %}

{% block content%}
<h2>Pyhone Book</h2>
<p>Welcome to my Python Phonebook App. </p>
<p>Pyhone Book is a simple Django app to manage contacts. <br> This app will reallow users to enter, save, delete  
    and search  <br> contact information. However, each user will be required to register  <br> and login before making 
    changes to the contact database.  <br>Unregistered users will only be able to access the conatact database in <br>
    a read-only state. </p>
{% endblock%}